<div class="searchInputBlock forTablet">
    <div class="searchInputIcon">
      <i class="fa fa-calendar"
      aria-hidden="true"></i>
     </div>
     <date-selector
        date="$ctrl.startDate"
        on-date-select="$ctrl.startDateSelect(date)">
     </date-selector>
</div>
<div class="searchInputBlock">
    <div class="searchInputIcon">
      <i class="fa fa-calendar"
      aria-hidden="true"></i>
     </div>
     <date-selector
        date="$ctrl.endDate"
        on-date-select="$ctrl.endDateSelect(date)">
     </date-selector>
</div>
