@import 'app-styles';

.header .container {
    max-width: 1100px;
    margin: 0 auto;
    font-family: $main-font;
}
.header {
    position: relative;
    width: 100%;
    height: 55px;
    background-color: $ryanair-blue;
    border-bottom: 2px solid $ryanair-yellow;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    .logo,
    .title {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
    }
    .title {
        width: 50%;
        color: $color-white;
        font-size: 16px;
        text-align: right;
    }
}