$color-black: #000;
$color-white: #fff;
$color-light-white: rgba( 255, 255, 255, 0.7);
$color-red: red;
$ryanair-blue: #2b4779;
$ryanair-light-blue: rgba(30, 138, 223, 0.7);
$ryanair-yellow: #F1C933;
$main-font: 'Roboto', sans-serif;
